<body>
<%- include('partials/header') %>
    <div class="container">
        <footer>
            <p>&copy; 2024 Blog Express</p>
        </footer>
    </div>
<%- include('partials/footer') %>
</body>
</html>